.hamburger {
	display: none;
	position: relative;
	height: 1.5px;
	width: 10px;
	background-color: #141718;
	border-radius: 1px;
	&::before {
		position: absolute;
		content: '';
		display: block;
		top: -4px;
		width: 10px;
		height: 1.5px;
		background-color: #141718;
		border-radius: 1px;
	}
	&::after {
		position: absolute;
		content: '';
		display: block;
		top: 4px;
		width: 10px;
		height: 1.5px;
		background-color: #141718;
		border-radius: 1px;
	}
	@include mobile {
		display: block;
	}
}
