.hero {
	height: 820px;
	background-color: #ffc95c;
	background-image: url('./../img/hero/bg.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;

	@include mediaBg() {
		background-image: url('./../img/hero/bg@2x.jpg');
	}

	@include tablet {
		height: 500px;
	}
	@include mobile {
		height: auto;
		padding-bottom: 380px;
		background-image: url('./../img/hero/bg-mobile.jpg');
		@include mediaBg() {
			background-image: url('./../img/hero/bg-mobile@2x.jpg');
		}
	}

	&__container {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: calc(
			(100% - var(--container-width)) / 2 + (var(--container-width) / 2)
		);
		padding-right: calc(
			(100% - var(--container-width)) / 2 + var(--container-padding)
		);

		@include tablet {
			padding-right: var(--container-padding);
		}
		@include mobile {
			max-width: 375px;
			margin: 0 auto;
			justify-content: start;
			padding: 40px var(--container-padding);
			text-align: center;
		}
	}
	&__title {
		margin-bottom: 8px;
		font-family: var(--font-accent);
		font-weight: 500;
		font-size: 80px;
		line-height: 1.05;
		letter-spacing: -3px;

		@include tablet {
			font-size: 60px;
		}
		@include mobile {
			font-size: 40px;
			line-height: 1.1;
			letter-spacing: -0.4px;
		}

		span {
			display: inline;
			color: var(--blue);
		}
	}
	&__desc {
		margin-bottom: 28px;
		font-size: 20px;
		line-height: 1.6;
		@include mobile {
			font-size: 16px;
			margin-bottom: 16px;
		}
	}
}
